header {
  background-color: #bec3c0;
  display: flex;
  border-radius: 50px;
}

.navbar {
  width: auto;
  position: absolute;
}

ul {
  width: 75%;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  position: relative;
}
li {
  width: 100%;
  padding: 20px 0;
  margin: 0 20px;
}
body {
  background-color: #3a4540;
}
.fixedlogo {
  position: fixed;
  right: 50px;
  bottom: 50px;
  height: 150px;
}
footer {
}
