header {
  background-color: #bec3c0;
  display: flex;
  border-radius: 20px;
}
.navbar {
  border: solid black;
  width: auto;
  position: absolute;
}
ul {
  width: 100%;
  display: flex;
  list-style: none;
}
.nav-button {
  position: relative;
  top: 10px;
  left: 30px;
  height: 30px;
  width: 90px;
  background-color: #85c9ab;
}

body {
  background-color: #3a4540;
}
.customer-support {
  width: 50%;
  float: left;
}
.trivia-box {
  border: solid #bec3c0;
  padding: 5px;
  width: 50%;
}
.trivia {
  color: #bec3c0;
  font-size: 1.5rem;
}

.fixedlogo {
  position: fixed;
  right: 50px;
  bottom: 50px;
  height: 150px;
}
