header {
  background-color: #bec3c0;
  display: flex;
  border-radius: 50px;
}

.navbar {
  width: auto;
  position: absolute;
}

ul {
  width: 75%;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  position: relative;
}
li {
  width: 100%;
  padding: 20px 0;
  margin: 0 20px;
}
body {
  background-image: url("/assets/images/nature.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.main-title-text {
  color: #bec3c0;
  font-size: 3rem;
  text-align: center;
  bottom: 50px;
  left: 50%;
  position: absolute;
  text-shadow: 2px 2px #3a4540;
}
.fixedlogo {
  position: fixed;
  right: 50px;
  bottom: 50px;
  height: 150px;
}
